.nav-menu {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  min-height: calc(100vh - 70px);
}
.nav-menu__scrollable {
  max-height: calc(100vh - 140px);
  overflow: auto;
}
.nav-menu__scrollable::-webkit-scrollbar {
  width: 10px;
}
.nav-menu__scrollable::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
.nav-menu__scrollable::-webkit-scrollbar-thumb {
  background-color: #252525;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  width: 100%;
}
.nav-list-settings .active {
  background-color: #505050;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.settings-item {
  display: flex;
  align-items: center;
  font-family: Arial, serif;
  font-size: 12pt;
  color: #eeeeee;
  height: 35px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.settings-item_active,
.settings-item:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #505050;
}
.settings-item .settings-nav__icon {
  color: #e5e5e5;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.settings-item:hover .settings-nav__icon {
  color: #0080ff;
}
.nav-list .active {
  background-color: #505050;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.chat-item,
.chat-item_static {
  display: flex;
  align-items: center;
  font-family: Arial, serif;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  margin: 2px 0;
}
.chat-item_active,
.chat-item:hover {
  background-color: #505050;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.chat-item_active .chat-preview__status,
.chat-item:hover .chat-preview__status {
  background-color: #505050;
}
.chat-item__image {
  position: relative;
  height: 55px;
  width: 55px;
}
.chat-item__image img {
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: auto;
  height: 100%;
}
.chat-item__status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #353535;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  bottom: 0;
  right: 0;
}
.chat-item__status_active {
  color: #b7ee97;
}
.chat-item__status_dont-disturb {
  color: #ee5050;
}
.chat-item__status_away {
  color: #eee050;
}
.chat-item__status_inactive {
  color: #c4c4c4;
}
.chat-item__text {
  font-size: 12pt;
  margin-left: 10px;
  margin-right: 5px;
  width: 100%;
}
.chat-item__name {
  font-size: 12pt;
  font-weight: normal;
  color: #eeeeee;
  margin-bottom: 10px;
}
.chat-item__last-message {
  color: #999999;
}
.chat-item__action-icon {
  margin-left: auto;
  font-size: 25px;
  color: #e5e5e5;
  margin-right: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.chat-item__action-icon:hover {
  color: #b7ee97;
}
.chat-item_static {
  cursor: auto;
}
.text-input-popup {
  box-sizing: border-box;
  font-family: Arial, serif;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #252525;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.text-input-popup__input-container {
  display: flex;
  align-items: center;
  background-color: #505050;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.text-input-popup input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #eeeeee;
}
.text-input-popup input:focus {
  outline: none;
}
.user-bar {
  display: flex;
  align-items: center;
  font-family: Arial, serif;
  box-sizing: border-box;
  background-color: #252525;
  height: 70px;
  margin-top: auto;
  padding: 10px;
}
.user-bar__image {
  position: relative;
  width: 50px;
  height: 50px;
}
.user-bar__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-bar__status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #b7ee97;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #252525;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  bottom: 0;
  right: 0;
}
.user-bar__text {
  font-size: 12pt;
  color: #eeeeee;
  margin: 0 10px;
}
.user-bar__text__username {
  margin-bottom: 5px;
}
.user-bar__text__email {
  color: #c4c4c4;
}
.user-bar__setting-icon {
  margin-left: auto;
  font-size: 25px;
  color: #e5e5e5;
  margin-right: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.user-bar__setting-icon:hover {
  color: #0080ff;
}
/*# sourceMappingURL=nav-menu.css.map */