.form-window__authorization-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, serif;
}
.form-window {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #353535;
  height: 500px;
  width: 360px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 30px 0;
  padding: 20px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
}
.form-window_long {
  height: 650px;
}
.form-window__tittle {
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
  color: #eeeeee;
  width: 100%;
  margin: 15px 0 0;
}
.form-window__login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.form-window__login-form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.form-window__login-form__row .form-window__item {
  min-width: 40%;
}
.form-window__login-form__row .form-window__item + .form-window__item {
  margin-left: 10px;
}
.form-input {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 35px;
}
li:last-child .form-input {
  margin-bottom: 0;
}
.form-input p {
  display: none;
  font-size: 10px;
  color: #ee5050;
  margin-bottom: -25px;
}
.form-input label {
  font-size: 8pt;
  color: #999999;
  margin-bottom: 5px;
}
.form-input input {
  font-size: 12pt;
  color: #eeeeee;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0080ff;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  height: 30px;
  padding: 0 5px;
  transition-duration: 0.1s;
}
.form-input input.error {
  border-bottom: 2px solid #ee5050;
}
.form-input input:-webkit-autofill,
.form-input input:-webkit-autofill:hover,
.form-input input:-webkit-autofill:focus,
.form-input input:-webkit-autofill {
  font-size: 12pt;
  color: #eeeeee;
  -webkit-text-fill-color: #eeeeee;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 0s ease-in-out 5000s;
  background-color: transparent;
}
.form-input input:focus {
  outline: none;
  background-color: #505050;
}
.form-window__buttons,
.form-window__buttons_row,
.form-window__buttons_col {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: 100%;
  height: 100%;
}
.form-window__buttons_row {
  justify-content: center;
  width: 50%;
}
.form-window__buttons_col {
  justify-content: flex-end;
  flex-direction: column;
}
.form-button-container {
  font-family: Arial, serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.form-button-container + .form-button-container {
  margin-left: 10px;
}
.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11pt;
  font-weight: bold;
  color: #eeeeee;
  width: 100%;
  height: 45px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: #0080ff;
}
.form-button:hover {
  background-color: #eeeeee;
  color: #0080ff;
}
.form-button:focus {
  outline: none;
}
.form-button_empty {
  background-color: transparent;
  color: #eeeeee;
  border: none;
  order: 2;
  outline: none;
  cursor: pointer;
}
.form-button_empty .form-button__link {
  color: #eeeeee;
  cursor: pointer;
}
.form-button_empty:hover {
  text-decoration: underline;
  background-color: transparent;
}
/*# sourceMappingURL=form-window.css.map */