.chat-settings {
  grid-area: content-body;
  font-family: Arial, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20%;
  background-color: #505050;
}
.chat-settings__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.chat-settings__form div {
  margin-bottom: 10px;
}
.chat-settings .chat-settings__button {
  width: auto;
}
.chat-settings__scrollable {
  max-height: 350px;
  min-height: 350px;
  width: 100%;
  order: 99;
  overflow: auto;
  background-color: #353535;
}
.chat-settings__scrollable::-webkit-scrollbar {
  width: 10px;
}
.chat-settings__scrollable::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
.chat-settings__scrollable::-webkit-scrollbar-thumb {
  background-color: #252525;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}
.users-list {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}
.users-list li {
  margin-bottom: 5px;
}
.users-list__search-container {
  font-family: Arial, serif;
  font-size: 10pt;
  display: flex;
  align-items: center;
  background-color: #252525;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 0 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.users-list__search-container .icon-search {
  color: #505050;
  font-size: 15px;
  margin: 0 5px;
}
.users-list__search-container #user-list-action-search {
  color: #e5e5e5;
  font-size: 15px;
  margin-right: 0;
  transition-duration: 0.3s;
  cursor: pointer;
}
.users-list__search-container #user-list-action-search:hover {
  color: #0080ff;
}
.users-list__search-container input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #eeeeee;
}
.users-list__search-container input:focus {
  outline: none;
}
.chat-item,
.chat-item_static {
  display: flex;
  align-items: center;
  font-family: Arial, serif;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  margin: 2px 0;
}
.chat-item_active,
.chat-item:hover {
  background-color: #505050;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.chat-item_active .chat-preview__status,
.chat-item:hover .chat-preview__status {
  background-color: #505050;
}
.chat-item__image {
  position: relative;
  height: 55px;
  width: 55px;
}
.chat-item__image img {
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: auto;
  height: 100%;
}
.chat-item__status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #353535;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  bottom: 0;
  right: 0;
}
.chat-item__status_active {
  color: #b7ee97;
}
.chat-item__status_dont-disturb {
  color: #ee5050;
}
.chat-item__status_away {
  color: #eee050;
}
.chat-item__status_inactive {
  color: #c4c4c4;
}
.chat-item__text {
  font-size: 12pt;
  margin-left: 10px;
  margin-right: 5px;
  width: 100%;
}
.chat-item__name {
  font-size: 12pt;
  font-weight: normal;
  color: #eeeeee;
  margin-bottom: 10px;
}
.chat-item__last-message {
  color: #999999;
}
.chat-item__action-icon {
  margin-left: auto;
  font-size: 25px;
  color: #e5e5e5;
  margin-right: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.chat-item__action-icon:hover {
  color: #b7ee97;
}
.chat-item_static {
  cursor: auto;
}
/*# sourceMappingURL=chat-settings.css.map */