.nav-list {

  & .active {
    background-color: #505050;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
}

@import "../chat-item/chat-item";
@import "../text-input-popup/text-input-popup";