.chat-feed-header {
    grid-area: content-head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #505050;
    border-bottom: 3px  #252525 solid;
}

.chat-feed-header__icon-row{
    font-size: 30px;
    margin-right: 20px;
    color: #e5e5e5;
    cursor: pointer;
    transition-duration: 0.3s;
}

.chat-feed-header__icon-row i:hover{
    color: #0080FF;
}