.chat-list {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  min-height: calc(100vh - 70px);
}
.chat-list__scrollable {
  max-height: calc(100vh - 140px);
  overflow: auto;
}

.chat-list__scrollable::-webkit-scrollbar {
  width: 10px;
}

.chat-list__scrollable::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

.chat-list__scrollable::-webkit-scrollbar-thumb {
  background-color: #252525;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}

.chat-list__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  width: 100%;
}
