.user-bar {
  display: flex;
  align-items: center;
  font-family: Arial, serif;
  box-sizing: border-box;
  background-color: #252525;
  height: 70px;
  margin-top: auto;
  padding: 10px;
}

.user-bar__image {
  position: relative;
  width: 50px;
  height: 50px;
}

.user-bar__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.user-bar__status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #b7ee97;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #252525;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  bottom: 0;
  right: 0;
}

.user-bar__text {
  font-size: 12pt;
  color: #eeeeee;
  margin: 0 10px;
}

.user-bar__text__username {
  margin-bottom: 5px;
}

.user-bar__text__email {
  color: #c4c4c4;
}

.user-bar__setting-icon {
  margin-left: auto;
  font-size: 25px;
  color: #e5e5e5;
  margin-right: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.user-bar__setting-icon:hover {
  color: #0080ff;
}
